<%- include("code/header") %>
<%- include("code/nav") %>
<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="profile">
    <div class="nav">
        <h3><a href="/profilesetting"><%= admin.username%></a></h3>
        <form action="/serch" method="post">
            <input type="text" name="serch" placeholder="Search" id="">
        </form>
        <h3>Total Expances: <span><%= total%></span></h3>
        <button><a href="/addexpenses">ADD EXPENSES</a></button>
    </div>
    <div class="allexpenses">

        <% user.forEach(function(u , i){ %>
            <div class="expense">
                <div class="srno">
                    <h1>#<%= i+1%></h1>
                </div>
                <h3>NAME : <%= u.expansesname%></h3>
                <h3>AMOUNT : ₹<%= u.expenseamount%></h3>
                <h3>CATAGORY : <%= u.catagory%></h3>
                <h3>TAG : <%= u.subcatagory%></h3>
                <div class="btns">
                    <a href="">Update</a>
                    <a href="">Delete</a>
                </div>
            </div>
        <%})%>

    </div>
</div>

<%#- include("code/page-footer") %>
<%- include("code/footer") %>