<%- include("code/header") %>
<%- include("code/nav") %>
<link rel="stylesheet" href="/stylesheets/profilesetting.css">
<div class="profilesetting">
    <div class="back">
        <a href="/profile"><i class="ri-arrow-left-double-fill"></i></a>
    </div>
    <div class="profilesetting-contener">
        <div class="contener-left">
            <div class="box-detail">
                <h2>USERNAME: </h2>
                <div class="box"><%= admin.username%></div>
            </div>
            <div class="box-detail">
                <h2>E-MAIL: </h2>
                <div class="box"><%= admin.email%></div>
            </div>
            <div class="box-detail">
                <h2>MOBILE NO.: </h2>
                <div class="box"><%= admin.mobile%></div>
            </div>
            <div class="box-detail">
                <h2>MONTHLY BUDGET: </h2>
                <div class="box">₹ <%= admin.budget%></div>
            </div>
            <h6><a href="/changepassword/<%= admin._id%>">Change Password</a></h6>
        </div>
        <div class="contener-right">
            <a class="update" href="/update/<%= admin._id%>">UPDATE ACCOUNT</a>
            <a class="delete" href="/delete/<%= admin._id%>">DELETE ACCOUNT</a>
        </div>
    </div>
</div>

<%- include("code/footer") %>