<%- include("code/header") %>
<%- include("code/nav") %>
<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="profile">
    <div class="nav">
        <h3><a href="/profilesetting"><%= admin.username%></a></h3>
        <form action="/serch" method="post">
            <input type="text" name="serch" placeholder="Search" id="">
        </form>
        <h3>Monthly Budget: <span><%= admin.budget%></span></h3>
        <button><a href="/addexpenses">ADD EXPENSES</a></button>
    </div>
</div>

<%#- include("code/page-footer") %>
<%- include("code/footer") %>